<a href="https://colab.research.google.com/github/biscuitmin/introduction-for-computers/blob/main/0518.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = range(5)

In [ ]:
print(type(i))

<class 'range'>

In [ ]:
print(i)

range(0, 5)

In [ ]:
print(list(i))

[0, 1, 2, 3, 4]

In [ ]:
j = range(10)

In [ ]:
print(list(j))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [ ]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [ ]:
c = range(3,8,1)
print(list(c))
d = range(3,8,2)
print(list(d))
e = range(8,3,-1)
print(list(e))

[3, 4, 5, 6, 7]
[3, 5, 7]
[8, 7, 6, 5, 4]

In [ ]:
f = range(10)
print(list(f))
g = range(1,10)
print(list(g))
h = range(1,10,2)
print(list(h))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [ ]:
i = range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [ ]:
for n in range(3):
  print(n, end =',')

0,1,2,

In [ ]:
for n in range(10):
  print(n, end=',')

0,1,2,3,4,5,6,7,8,9,

In [ ]:
n = int(input("請輸入正整數"))
for n in range(1,n+1):
  print(n ,end=",")

請輸入正整數5
1,2,3,4,5,

In [ ]:
n = int(input("請輸入正整數"))
for n in range(1,n+1):
  print(n ,end=",")

請輸入正整數12
1,2,3,4,5,6,7,8,9,10,11,12,

In [ ]:
n = int(input("請輸入正整數"))
for n in range(1,n+1,2):
  print(n ,end=",")

請輸入正整數10
1,3,5,7,9,

In [ ]:
sum = 0
for n in range(3):
  sum=sum+n
print(sum)

3

In [ ]:
sum = 0
for n in range(5):
  sum=sum+n
print(sum)

10

In [ ]:
sum = 0
n = int(input("請輸入正整數:"))
for i in range(1, n+1):
  sum += i
print("1 到 %d 的整數和為: %d" % (n, sum))

請輸入正整數:5
1 到 5 的整數和為: 15

In [ ]:
sum = 0
n = int(input("請輸入正整數:"))
for i in range(1, n+1):
  sum += i
print("1 到 %d 的整數和為: %d" % (n, sum))

請輸入正整數:50
1 到 50 的整數和為: 1275

In [2]:
sum = 0
n = int(input("請輸入正整數:"))
for n in range(1, n+1):
  sum += n
  print("1到",n,"的整數合為",sum)

請輸入正整數:10
1到 1 的整數合為 1
1到 2 的整數合為 3
1到 3 的整數合為 6
1到 4 的整數合為 10
1到 5 的整數合為 15
1到 6 的整數合為 21
1到 7 的整數合為 28
1到 8 的整數合為 36
1到 9 的整數合為 45
1到 10 的整數合為 55