<a href="https://colab.research.google.com/github/biscuitmin/introduction-for-computers/blob/main/0525.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
sum=0
test = int(input("請輸入一個正整數: "))
for n in range(1,test+1):
  sum = sum+n
print("1到",test,"整數合為",sum)

請輸入一個正整數: 50
1到 50 整數合為 1275

In [2]:
sum=0
test = int(input("請輸入一個正整數: "))
for m in range(1,test+1):
  sum = sum+m
  print("1到"+str(m),"整數合為:",sum)

請輸入一個正整數: 50
1到1 整數合為: 1
1到2 整數合為: 3
1到3 整數合為: 6
1到4 整數合為: 10
1到5 整數合為: 15
1到6 整數合為: 21
1到7 整數合為: 28
1到8 整數合為: 36
1到9 整數合為: 45
1到10 整數合為: 55
1到11 整數合為: 66
1到12 整數合為: 78
1到13 整數合為: 91
1到14 整數合為: 105
1到15 整數合為: 120
1到16 整數合為: 136
1到17 整數合為: 153
1到18 整數合為: 171
1到19 整數合為: 190
1到20 整數合為: 210
1到21 整數合為: 231
1到22 整數合為: 253
1到23 整數合為: 276
1到24 整數合為: 300
1到25 整數合為: 325
1到26 整數合為: 351
1到27 整數合為: 378
1到28 整數合為: 406
1到29 整數合為: 435
1到30 整數合為: 465
1到31 整數合為: 496
1到32 整數合為: 528
1到33 整數合為: 561
1到34 整數合為: 595
1到35 整數合為: 630
1到36 整數合為: 666
1到37 整數合為: 703
1到38 整數合為: 741
1到39 整數合為: 780
1到40 整數合為: 820
1到41 整數合為: 861
1到42 整數合為: 903
1到43 整數合為: 946
1到44 整數合為: 990
1到45 整數合為: 1035
1到46 整數合為: 1081
1到47 整數合為: 1128
1到48 整數合為: 1176
1到49 整數合為: 1225
1到50 整數合為: 1275

In [3]:
for j in range(1,5):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [4]:
for j in range(1,6):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8
5
5 * 1 = 5
5 * 2 = 10

In [6]:
for i in range(1,5):
  if(i==4):
    break
  print(i,end= " ")

1 2 3

In [7]:
for i in range(1,5):
  if(i==4):
    continue
  print(i,end= " ")

1 2 3

In [10]:
count = 0
for string in "hello!":
  count+=1
  if string =="o":
    break
  print(string)
print("迴圈結束")
print("迴圈執行 %d 次" %count)

h
e
l
l
迴圈結束
迴圈執行 5 次

In [12]:
count = 0
for string in "測試看看":
  count+=1
  if string =="看":
    break
  print(string)
print("迴圈結束")
print("迴圈執行了 %d 次" %count)

測
試
迴圈結束
迴圈執行了 3 次

In [14]:
for i in range(2,10):
  for j in range(1,10):
    product = i * j
    print("%d*%d=%2d" % (i,j,product), end=" ")
  print()

2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [19]:
a = int(input("請輸入 a 的值:"))
b = int(input("請輸入 b 的值:"))
max = a * b
for i in range(1,max+1):
  if(i % a == 0 and i % b ==0):
    break
print("%d 和 %d 的最小公倍數=%d" % (a,b,i))

請輸入 a 的值:4
請輸入 b 的值:6
4 和 6 的最小公倍數=12

In [20]:
a = int(input("請輸入 a 的值:"))
b = int(input("請輸入 b 的值:"))
max = a * b
for i in range(1,max+1):
  if(i % a == 0 and i % b ==0):
    break
print("%d 和 %d 的最小公倍數=%d" % (a,b,i))

請輸入 a 的值:9
請輸入 b 的值:15
9 和 15 的最小公倍數=45

In [21]:
n = int(input("請輸入正整數:"))
for i in range(1,n+1):
  if i % 5 ==0:
    continue
  print(i,end=" ")

請輸入正整數:12
1 2 3 4 6 7 8 9 11 12

In [24]:
n = int(input("請輸入正整數:"))
for i in range(1,n):
  if i % 5 ==0:
    continue
  print(i,end=" ")

請輸入正整數:21
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19