<a href="https://colab.research.google.com/github/biscuitmin/introduction-for-computers/blob/main/0608.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = [1,2,3,4]
list1

[1, 2, 3, 4]

In [ ]:
list2 = ["香蕉","蘋果","橘子"]
list2

['香蕉', '蘋果', '橘子']

In [ ]:
list3 = [1,"香蕉",True]
list3

[1, '香蕉', True]

In [ ]:
list4 = []
list4

In [ ]:
list1 = [1,2,3,4]
print(list1)
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])

[1, 2, 3, 4]
1
2
3
4

In [ ]:
list4 = ["香蕉","蘋果","橘子"]
print(list4[0])
print(list4[1])
print(list4[2])
print(list4[3])

香蕉
蘋果
橘子

IndexError: ignored

In [ ]:
print(list4[-1])
print(list4[-2])
print(list4[-3])
print(list4[-4])

橘子
蘋果
香蕉

IndexError: ignored

In [ ]:
list5 = [["tom","1234"]],["mary","abc"],["david","5678"]
print(list5[1])
print(list5[0])
print(list5[1][1])
print(list5[0])
print(list5[0][0])
print(list5[0][0])
print(list5[1][0])

['mary', 'abc']
[['tom', '1234']]
abc
[['tom', '1234']]
['tom', '1234']
['tom', '1234']
mary

In [ ]:
scores = [85,79,93]
print("國文成績:%d分" % scores[0])
print("數學成績:%d分" % scores[1])
print("英文成績:%d分" % scores[2])

國文成績:85分
數學成績:79分
英文成績:93分

In [ ]:
list6 =[1,2,3,4,5]
print(list6)
list6[0]=9
print(list6)

[1, 2, 3, 4, 5]
[9, 2, 3, 4, 5]

In [ ]:
list7 = ["香蕉","蘋果","橘子"]
print(list7)
for s in list7:
  print(s,end=",")

['香蕉', '蘋果', '橘子']
香蕉,蘋果,橘子,

In [35]:
scores = [85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [37]:
scores = [85,79,93]
print(len(scores))

3

In [38]:
scores = [85,79,93,50]
print(len(scores))

4

In [40]:
items = [12,"apple",True]
for item in items:
  print(item)

12
apple
True

In [52]:
names = ["tom","mary","tony"]
numbers = [1,2,3]
for i in range(len(names)):
   print("編號:%d","姓名:%s" % (numbers[i],names[i]))

TypeError: ignored

In [43]:
scores = [85,79,93]
subjects = ["國文","數學","英文"]
for i in range(len(scores)):
  print("%s成績:%d分"%(subjects[i],scores[i]))

國文成績:85分
數學成績:79分
英文成績:93分